/*   Typoxcale:  */

/*   Typoxcale__Reset:  */
body, p, ul, dl, dd, div, menu, dir, h1, h2, h3, h4, h5, h6, blockquote{
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
html {
  /* font-family: "Merriweather", Georgia, serif; */
  font-size: 18px;
  line-height: 30px;
}
body{
  /*color: #4A4A4A;*/
  margin-top: 36px;
  margin-bottom: 36px;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
}
/*   Typoxcale__Reset:  */

.alpha,h1 {
  font-size: 120px;
  line-height: 156px;
}

.beta,h2 {
  font-size: 72px;
  line-height: 96px;
}

.gamma,h3 {
  font-size: 60px;
  line-height: 78px;
}

.delta,h4 {
  font-size: 48px;
  line-height: 66px;
}

.epsilon,h5 {
  font-size: 30px;
  line-height: 42px;
}

.zeta,h6 {
  font-size: 24px;
  line-height: 36px;
}
section.zeta,article.zeta,p.zeta,blockquote.zeta,aside.zeta,div.zeta {
  max-width: 698px;
}

.eta {
  font-size: 18px;
  line-height: 30px;
}
section.eta,article.eta,p.eta,blockquote.eta,aside.eta,div.eta {
  max-width: 698px;
  line-height: 27px;
}

.theta {
  font-size: 12px;
  line-height: 24px;
}

.iota {
  font-size: 9px;
  line-height: 24px;
}

/*   Typoxcale__Spacing:   */
.spacer {
  height: 78px;
  line-height: 78px;
  width: 100%;
  font-size: 30px;
  border-top: 0.5em solid;
  border-bottom: 0.5em solid;
  margin-bottom: 1em;
  text-align: center;
}
/*   Typoxcale__Spacing;   */

/*   Typoxcale;  */
